.btn {
  padding: 10px 5px;
  border-radius: 5px;
  border: 0;
  outline: none;
  text-align: center;

  &:disabled {
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    color: #c6bebe;
    cursor: not-allowed;
  }

  &Primary {
    background-color: #03346e;
    border: 1px solid #03346e;
    color: #fff;
  }

  &Outline {
    border: 1px solid #03346e;
    background-color: #fff;
    color: #03346e;
  }
}
